.items_select {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 60px; */
    flex-wrap: wrap;
    gap: 70px;
}

.items_select_all {
    width: 18%;
    aspect-ratio: 1 / 1;
    
    /* padding: 40px; */
    margin: 30px;
}

.items_select img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* margin: 70px; */
}

.main_select {
    height: 80px;
    border-bottom: 5px solid rgb(217, 217, 217);
    position: relative;
}

.recs {
    text-decoration: none;
    position: absolute;
    bottom: 13px;
    left: 170px;
    font-weight: bold;
}

.mylists {
    text-decoration: none;
    position: absolute;
    bottom: 13px;
    left: 320px;
    font-weight: bold;
}