.item_detail_contents {
    display: flex;
}

.item_detail_image {
    width: 50%;
    aspect-ratio: 1 / 1;
    margin: 50px 400px 400px 150px;
}

.information {
width: 50%;
}

.item_detail_image1 {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    
}

.item_detail_name {

}

.item_detail_brand {

}

.item_detail_price {

}

.item_detail_icon {
    display: flex;
}

.item_detail_explain {

}

.item_detail_category {
    display: flex;
}

.item_detail_condition {
    display: flex;
}

.item_detail_comment_history {

}

.item_detail_comment_form {

}

.comment_submit {
    display: block;
}