.login_page {
text-align: center;

}

.mail_form {
    width: 300px;
    height: 30px;
}

.password_form {
    width: 300px;
    height: 30px;
}

.submit {
    margin-top: 10px;
    display: block;
}


.submit_form {
    width: 300px;
    height: 30px;
    margin: 30px 0;
    background-color: #ff5555;
    border: #ff5555;
    color: white;
}

.register_page {
    text-decoration: none;
    display: block;
}

.label_form_1 {
    display: block;
    position: relative;
    right: 100px;
}

.label_form_2 {
    margin-top: 30px;
    display: block;
    position: relative;
    right: 113px;
}

.error {
    color: #ff5555;
}