.login_page {
    text-align: center;

}

.name_form {
    width: 300px;
    height: 30px;
}

.email_form {
    width: 300px;
    height: 30px;
}

.password_form {
    width: 300px;
    height: 30px;
}

.submit {
    margin-top: 10px;
    display: block;
}

.submit_form {
    width: 300px;
    height: 30px;
    margin: 30px 0;
    background-color: #ff5555;
    border: #ff5555;
    color: white;
}

.register_page {
    text-decoration: none;
    display: block;
}

.label_form_1 {
    display: block;
    position: relative;
    right: 115px;
}

.label_form_2 {
    margin-top: 30px;
    display: block;
    position: relative;
    right: 100px;
}

.label_form_3 {
    margin-top: 30px;
    display: block;
    position: relative;
    right: 115px;
}

.label_form_4 {
    margin-top: 30px;
    display: block;
    position: relative;
    right: 90px;
}

.error {
    color: #ff5555;
}

.profile__error {
    color: #ff5555;
}

.upload_submit {
    margin: 60px 0 60px 0;

}
a
.profile_header {
        width: 18%;
        aspect-ratio: 1 / 1;
        margin: 30px;
}

.user_image_css {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
}